.card {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	width: 350px;
	height: 180px;
	border: var(--border-card);
	border-top: solid 1px var(--highlight);
	border-radius: 10px;
	background: var(--gradient);
	box-shadow: var(--shadow);

	* {
		margin-left: 20px;
	}

	h1 {
		font-weight: normal;
		font-size: 1.5rem;
		margin: 20px 15px 5px 20px;
	}

	p {
		margin-top: 5px;
		color: var(--text-muted);
	}

	button {
		margin-top: 20px;
		margin-left: 20px;
	}
}

.card:hover {
	background: var(--gradient-hover);
}

.homeBody {
	display: flex;
	flex-flow: column;
	align-items: center;

	.newReleases {
		width: 1000px;
		.headerDiv {
			display: flex;
			justify-content: space-between;
		}

		.albumGrid {
			display: grid;
			grid-template-columns: repeat(4, minmax(200px, 1fr));
			/* overflow: hidden; */

			gap: 10px;
		}
	}

	.albumCard {
		width: 100%;

		.albumImgContainer {
			width: 100%;
			height: auto;

			aspect-ratio: 1 / 1;

			background-color: var(--primary-muted);
			border: 1px solid var(--primary-bold);
			border-radius: 5px;

			svg {
				width: 80px;
				height: 80px;
				color: var(--primary-bold);
			}
		}

		.albumImgContainer:hover {
			background-color: var(--primary-muted-hover);
			cursor: pointer;
		}

		h2 {
			color: var(--text);
		}

		h3 {
			color: var(--text-muted);
		}
	}

	.topArtistListContainer {
		width: 1000px;

		h4 {
			text-align: left;
			margin-top: 40px;
			margin-bottom: 10px;
		}

		.topArtistList {
			margin: 0;
			padding: 0;
			counter-reset: item;

			width: 100%;

			.artistListItem {
				width: 100%;

				display: grid;
				grid-template-columns: 50px 90px 1fr 50px;
				grid-template-rows: 40px 40px;

				border-bottom: solid 1px var(--highlight);

				&::before {
					content: counter(item);
					counter-increment: item;
					grid-column: 1;
					grid-row: span 2;

					color: var(--text-muted);
					font-weight: bold;
					font-size: 1rem;

					display: flex;
					justify-content: center;
					align-items: center;
				}

				.artistImage {
					grid-column: 2;
					grid-row: span 2;
					width: 56px;
					height: 56px;
					align-self: center;
					justify-self: center;
					overflow: hidden;

					background-color: var(--primary-muted);
					border: 1px solid var(--primary-bold);
					border-radius: 5px;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}

					svg {
						width: 60%;
						height: 60%;
						margin: 20%;
						color: var(--primary);
					}
				}

				.artistInfo {
					display: contents;

					h5 {
						width: 100%;
						height: 100%;

						margin: 0;
						padding: 0;

						font-size: 1rem;
						text-align: left;
						line-height: 55px;

						grid-column: 3;
						grid-row: 1;
					}

					p {
						margin: 0;
						padding: 0;
						text-align: left;
						color: var(--text-muted);

						grid-column: 3;
						grid-row: 2;
					}
				}

				.averageRating {
					grid-column: 4;
					grid-row: span 2;

					margin: 0;
					display: flex;
					align-items: center;
					font-size: 1rem;
					color: var(--text-muted);
				}
			}
		}
	}
}
