.albumBody {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.mainColumn {
		flex-grow: 1;
		max-width: 650px;
		margin: 20px;
	}

	.sideBar {
		width: 300px;
		min-width: 250px;
		margin: 20px;
	}
}

.headerContainer {
	margin-bottom: 30px;

	* {
		text-align: left;
		font-weight: 500;
	}

	h1 {
		margin: 0px;
		font-size: clamp(1.5rem, 3vw, 2.5rem);
	}

	.infoSubHeader {
		margin-top: 5px;
		color: var(--text-dark);

		a {
			text-decoration: none;

			&:hover {
				color: var(--text);
			}
		}
	}
}

.songTable {
	width: 100%;
	background: var(--bg-dark);

	.songTableHeader {
		display: grid;
		grid-template-columns: 40px 1fr 65px 65px;
		gap: 10px;
		padding: 0 0 8px 0;

		p {
			margin: 0;
			color: var(--text-dark);
			font-weight: 600;
		}

		.tracklistHeader {
			grid-column: 1 / span 2;
			text-transform: uppercase;
			text-align: left;
		}

		.avgHeader,
		.youHeader {
			text-align: center;
		}
	}

	.songRow {
		display: grid;
		grid-template-columns: 40px 1fr 65px 65px;
		align-items: center;
		gap: 10px;
		padding: 10px 0;
		border-bottom: 1px solid var(--border-muted);

		&:last-child {
			border-bottom: none;
		}
	}

	.trackNumber {
		margin: 0;
		text-align: center;
		color: var(--text-muted);
	}

	.songTitleCell {
		display: flex;
		flex-direction: column;
		gap: 2px;
		min-width: 0;

		* {
			text-align: left;
			font-weight: 500;
		}

		.songTitle {
			margin: 0;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.songDuration {
			margin: 0;
			font-size: 0.85rem;
			color: var(--text-dark);
		}
	}

	.averageRatingCell {
		display: flex;
		justify-content: center;
	}

	.userRating {
		margin: 0;
		text-align: center;
		color: var(--text-muted);
	}
}

.coverImageCard {
	padding: 20px;
	margin-bottom: 20px;

	.coverImage {
		box-sizing: border-box;
		aspect-ratio: 1 / 1;
		width: 100%;
		height: unset;
		border-radius: 12px;
		background-color: var(--primary-muted);
		color: var(--primary-bold);

		&:has(svg) {
			border: 1px solid var(--primary-bold);
		}

		img {
			border-radius: 12px;
		}

		svg {
			width: 50%;
		}
	}

	.infoItem {
		position: relative;
		display: flex;
		justify-content: space-between;

		font-weight: 600;

		p {
			margin-top: 12px;
			margin-bottom: 8px;
		}

		.label {
			color: var(--text-dark);
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			border-bottom: 1px solid var(--border-muted);
		}

		&:last-child::after {
			border: 0;
		}
	}
}

.artistListItem {
	padding: 5px !important;
}
